
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "Default")

<body>

    @Html.Action("PartialNavbar", "Default")

    @Html.Action("OurTeacherPartial", "OurTeacher")

    @Html.Action("PartialTeacher", "Default")

    @Html.Action("PartialTestimonial", "Default")

    @Html.Action("PartialFooter", "Default")
    @Html.Action("PartialScripts", "Default")

</body>
</html>
